/*-- scss:defaults --*/

$body-bg: #e4fbf8;
$body-color: #138541;
$code-color: #264688;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.icons ul {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -0.6em;
}
  
  
h2 {
  color: #264688 !important;
}


